<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TwitterApp</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">  
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Twitter Project Application</h1>
        <p class="lead">This app uses the Twitter API to perform some operation(s).</p>
        <p><a href="https://www.twitter.com" target="_blank" class="btn btn-success btn-lg">Visit Twitter</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Find Top descending word count <br>
            in the last 100 tweets</h2>
            <form th:action="@{/userTweets}" th:object="${request}" method="post">
            <p>USER: <input type="text" th:field="*{user}" /></p>
            <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
        <div class="col-md-4">
            <h2>Get Last 100 Tweets</h2>
            <form action="#" th:action="@{/inputUser_Get_100_tweets}" th:object="${request}" method="POST">
             <table>
                <tr>
					<p>USER: <input type="text" th:field="*{user}" /></p>
        			
        			<p><input type="submit" value="Submit" />
                </tr>
            </table>
        </form:form>
        </div>
    </div>
    <hr>
    <footer>
    </footer>
</div>
</body>
</html>