<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TwitterApp</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">  
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

body {<!--from w ww.j a v  a 2s . c o m-->
  width: 90%;
  margin: 0 auto;
}

table:first-child {
  background-color: blue;
  color: white;
  margin-right: 1%;
}

table:nth-child(2n) {
  background-color: black;
  color: white;
}

table {
  width: 49%;
  float: left;
}
</style>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container-fluid">
	<div class="jumbotron">
		<h1>Twitter Project Application</h1>
		<p class="lead">This app uses the Twitter API to perform some operation(s).</p>
		<p><a href="https://www.twitter.com" target="_blank" class="btn btn-success btn-lg">Visit Twitter</a></p>
	</div>
	<div>
		<table>
			<tr>
				<th>
					Tweet Counts
				</th>	
			<div class="column">
				<tr th:each="userTweet: ${userTweets}" >
					<td th:text = "${userTweet}">    				
			</div>
		</table>
		<table>
			<tr>
				<th>
					Links Tweeted
				</th>
			</tr>	
		 	<div class="column">
				<tr th:each="linkTweeted: ${linksTweeted}" >
					<td	th:text = "${linkTweeted}">
					
				</tr>
	    	</div>			
		</table>
	</div>
    <hr>
    <footer>
    </footer>
</div>
</body>
</html>